body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.cotations{
    background-color: #cfdaec56;
    text-align: center;
    color: #4f4e4e;
    display: flex;
    padding: 5px 2px;
}

header {
    background-color: #403f45fa;
    color: #f1f1f1;
    display: flex;
    justify-content:space-between;
    padding: 10px 20px;
}

header .logo h1 {
    margin: 0;
    display: flex;
   
}

nav ul {
    list-style: none;
    display:inline;
    gap: 15px;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
display: flex;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
}

nav input[type="text"] {
    padding:50px;
    margin-right: 20px;
    display: flex;
}

.hero {
    background-image: url('hotel-banner.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.button-link {
    padding: 10px;
    background-color: #a08b8b;
    color: white;
    border-radius: 5px;
    width: 50%;
}

.button-link:hover {
    background-color: #6e9abe;
}
.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero .search-form {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px;
    border-radius: 5px;
}

.search-form input, .search-form button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.destinations {
    padding:20px 20px;
    text-align: top;
    display: flex;
    justify-content: center;
}

.destination-grid {
    
    gap: 400px;
    justify-content:center;

}

.destination-card {
    background-color:rgb(201, 194, 177);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.destination-card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color:rgb(79, 132, 176);
    color: #fff;
    text-align: center;
    padding: 50px;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
}

footer .footer-links, .footer .social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-bottom: 10px;
}

footer p {
    margin: 0;
}
.button-link {
    display:flexbox;
    padding: 9px;
    background-color: #a08b8b;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
}

.button-link:hover {
    background-color: #130bb8;
}
h2{
    color: #f1f1f1;
}

  